{% load static %}
<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light"
    style="border-bottom: 1px solid rgb(210, 210, 210);">
    <div class="container">
      <a class="navbar-brand" href="{% url 'main:home' %}">
        <img src="{% static 'logo1.png' %}" alt="" width="150px" height="40px">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item mx-3 ">
            <a class="nav-link active" aria-current="page" href="{% url 'main:home' %}">T-QEM</a>
          </li>
        </ul>
        <div class="d-flex">
          {% if user.is_authenticated %}
          <a href="{% url 'user:logout' %}">
            <button class="btn me-2" type="submit">로그아웃</button>
          </a>
          {% else %}
          <a href="{% url 'user:login' %}">
            <button class="btn  me-2" type="submit">로그인</button>
          </a>
          <a href="{% url 'user:usertype' %}">
            <button class="btn" type="submit">회원가입</button>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
  </nav>
</div>
<br><br><br><br>
<header id="content">
  <h1 class="d-flex align-items-center justify-content-center lh-sm mt-5" style="color: rgb(85, 85, 85);">
    조립 가설기자재 품질평가 관리 시스템 <br> T-QEM
  </h1>
</header>