<div class="container">
  <div class="row">
    <div class="col mt-4">
      <a href="{% url 'work:index' %}">
        <button type="button" class="btn1 btn-rounded p-2 btn btn-light col-12">업무</button>
      </a>
    </div>
    {% if user.is_system_manager %}
    <div class="col mt-4">
      <a href="{% url 'system_manager:index' %}">
        <button type="button" class="btn1 btn-rounded p-2 btn btn-light col-12">기본정보 등록</button>
      </a>
    </div>
    {% endif %}
    <div class="col mt-4">
      <a href="{% url 'result:search' %}">
        <button class="btn1 p-2 btn btn-light col-12">결과보고</button>
      </a>
    </div>
    <div class="col mt-4">
      <a href="{% url 'announcement:announcement' %}">
        <button class="btn1 p-2 btn btn-light col-12">공지사항</button>
      </a>
    </div>
    <div class="col mt-4">
      <a href="{% url 'law:law' %}">
        <button class="btn1 p-2 btn btn-light col-12">법령정보</button>
      </a>
    </div>
  </div>
</div>