<div class="container">
  <div class="row">
    <div class="col-3">
      <a href="{% url "system_manager:apply_field" %}">
        <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">현장 등록
        </button>
      </a>
    </div>
    <div class="col-3">
      <a href="{% url "system_manager:apply_locate" %}">
        <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">설치위치명 등록
        </button>
      </a>
    </div>
    <div class="col-3">
      <a href="{% url "system_manager:apply_document" %}">
        <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">문서 등록
        </button>
      </a>
    </div>
    <div class="col-3">
      <a href="{% url "system_manager:user_management" %}">
        <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">사용자 등록 및 삭제</button>
      </a>
    </div>
  </div>
</div>