<!-- Quality request page -->
{% extends 'base/head.html' %}
{% block title %}
품질검사 의뢰서 작성
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:quality_menu' %}">품질검사</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:quality_request' %}">품질검사 의뢰</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">품질검사 의뢰서 작성</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-4 offset-8 ">
            <div class="row">
              <div class="col">
                <div class="col">
                  <button class="btn1 p-2 btn btn-light col-12" aria-label="Left Align" type="submit" form="qtyreqform"
                    id="save_button">저장</button>
                </div>
              </div>
              <div class="col">
                <button class="btn1 p-2 btn btn-light col-12" aria-label="Left Align" id="sign_modal_button">서명
                  요청</button>
                <!-- Modal -->
                <div class="modal fade" id="signRequestModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">서명 요청</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{% url 'work:require_sign_quality_request' %}" id="sign_form">
                          {% csrf_token %}
                          <input type='hidden' name="docNum" value="{{form.instance.docNum}}" />
                          <select class="form-select" name="sign" id="sign_select">
                          </select>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="signRequestBtn">요청</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      {% include 'base/messages.html' %}
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </section>
    <form action="" id="qtyreqform" method="POST">
      {% csrf_token %}
      <section>
        <div class="container p-4 mb-5 text-center">
          <table class="table">
            <thead>
              <th class="p-4" colspan="6">
                <h1>품질검사 의뢰서</h1>
              </th>
            </thead>
            <tbody class="align-middle">
              <tr>
                <td class="table-secondary">문서번호</td>
                <td colspan="5">
                  품질검사 의뢰서-{{docNum}}
                </td>
              </tr>
              <tr>
                <td class="table-primary">제목</td>
                <td colspan="5">
                  {{form.title}}
                </td>
              </tr>
              <tr>
                <td class="table-primary">시료명</td>
                <td colspan="2">
                  <div class="row">
                    <div class="col">
                      <select class="form-select" id="id_goods">
                        <option value="" selected>품명을 선택해주세요</option>
                        <option value="1">
                          강관비계용 부재 (비계용 강관)
                        </option>
                        <option value="2">
                          강관비계용 부재 (강관 조인트)
                        </option>
                        <option value="3">
                          조립형비계 및 동바리부재(수직재)
                        </option>
                        <option value="4">
                          조립형비계 및 동바리부재(수평재)
                        </option>
                        <option value="5">
                          조립형비계 및 동바리부재(가새재)
                        </option>
                        <option value="6">
                          조립형비계 및 동바리부재(트러스재)
                        </option>
                        <option value="7">
                          조립형비계 및 동바리부재(연결조인트)
                        </option>
                        <option value="8">
                          직접 입력
                        </option>
                      </select>
                    </div>
                    <div class="col">
                      <input type="text" id="goods_input" name="goods" class="form-control" readOnly>
                    </div>
                  </div>
                </td>
                <td class="table-primary">규격</td>
                <td colspan="2">
                  {{form.size}}
                </td>
              </tr>
              <tr>
                <td class="table-primary">시험ᆞ검사종목</td>
                <td colspan="5">
                  <div class="col-6">
                    <div class="row">
                      <div class="row">
                        <div class="col">
                          {{form.testType_hweem.label_tag}} {{form.testType_hweem}}
                        </div>
                        <div class="col">
                          {{form.testType_zip.label_tag}} {{form.testType_zip}}
                        </div>
                        <div class="col">
                          {{form.testType_tensile.label_tag}} {{form.testType_tensile}}
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="table-primary">시료량</td>
                <td colspan="5">
                  {{form.sampleQuentity}}
                </td>
              </tr>
              <tr>
                <td class="table-primary">시료 또는 자재 생산국</td>
                <td colspan="5">
                  {{form.sampleOrigin}}
                </td>
              </tr>
              <tr>
                <td class="table-primary">시료 채취 장소</td>
                <td colspan="5">
                  <div class="row" id="locate_table">
                    <div class="col-1">Level1</div>
                    <div class="col-3">
                      <select class="form-select" id="class1" >
                      </select>
                    </div>
                    <div class="col-1">Level2</div>
                    <div class="col-3">
                      <select class="form-select" id="class2">
                      </select>
                    </div>
                    <div class="col-1">Level3</div>
                    <div class="col-3">
                      <select class="form-select" id="class3">
                      </select>
                    </div>
                  </div>
                </td>
              </tr>
              <tr>
                <td class="table-primary">시료 채취 일자</td>
                <td colspan="5">
                  <input type="date" class="form-control" name="sampleDate" id="sampleDate" placeholder="날짜를 선택해주세요."
                    value="{{form.instance.sampleDate|date:'Y-m-d'|default_if_none:''}}" />
                </td>
              </tr>
              <tr>
                <td class="table-primary">시료 채취자</td>
                <td colspan="4" style="padding:0;margin:0;border:none;line-height:200%;">
                  <table cellspacing="0" style="border:none;width:100%;">
                    <tr>
                      <td colspan="6" style="border-top:0px; border-bottom:0px; border-left:0px;">
                        <div class="row">
                          <div class="col-6">
                            <label for="">업체명</label>
                          </div>
                          <div class="col-6">{{request.user.company}}</div>
                        </div>
                      </td>
                      <td colspan="6" style="border-top:0px; border-bottom:0px;">
                        <div class="row">
                          <div class="col-6">
                            <label for="" class="mr-1">담당 업무</label>
                          </div>
                          <div class="col-6">{{request.user.class3}}</div>
                        </div>
                      </td>
                      <td colspan="6" style="border-top:0px; border-bottom:0px; border-right:0px;">
                        <div class="row">
                          <div class="col-3">
                            <label for="" class="mr-1">서명</label>
                          </div>
                          <div class="col-9">{{request.user.name}}</div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  {% if form.instance.writerId != None %}<img width="60%" alt=""
                    src="{{form.instance.writerId.signImage.url}}" />
                  {% else %}
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#signModal">
                    서명
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">서명 요청</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="signRequest" class="form-label">아이디를 입력해주세요</label>
                            <input type="password" class="form-control" id="signRequest" placeholder="아이디 입력">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            취소</button>
                          <button id="sign_button" type="button" class="btn btn-primary">서명</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="table-secondary">입회자</td>
                <td colspan="4" style="padding:0;margin:0;border-top:1px solid #dee2e6;line-height:200%;">
                  <table cellspacing="0" style="border:none;width:100%;">
                    <tr>
                      <td colspan="6" style="border-top:0px; border-bottom:0px; border-left:0px;">
                        <div class="row">
                          <div class="col-6">
                            <label for="">업체명</label>
                          </div>
                          <div class="col-6"></div>
                        </div>
                      </td>
                      <td colspan="6" style="border-top:1px; border-bottom:0px;">
                        <div class="row">
                          <div class="col-6">
                            <label for="" class="mr-1">담당 업무</label>
                          </div>
                          <div class="col-6"></div>
                        </div>
                      </td>
                      <td colspan="6" style="border-top:0px; border-bottom:0px; border-right:0px;">
                        <div class="row">
                          <div class="col-3">
                            <label for="" class="mr-1">서명</label>
                          </div>
                          <div class="col-9"></div>
                        </div>
                      </td>
                    </tr>
                  </table>
                </td>
                <td>
                  (인)
                </td>
              </tr>
              <tr>
                <td class="table-primary">시험 및 시방기준</td>
                <td colspan="5">
                  <input type="text" class="form-control" id="test_standard" name="testStandard" readOnly>
                </td>
              </tr>
              <tr>
                <td class="table-secondary">성과 이용 목적</td>
                <td colspan="5">품질 시험용</td>
              </tr>
              <tr>
                <td rowspan="3" class="table-secondary">공사개요</td>
                <td>공사명</td>
                <td colspan="4">
                  {{field.title}}
                </td>
              </tr>
              <tr>
                <td>착공일</td>
                <td colspan="4">
                  {{field.startDay}}
                </td>
              </tr>
              <tr>
                <td>준공예정일</td>
                <td colspan="4">
                  {{field.endDay}}
                </td>
              </tr>
              <tr>
                <td class="table-secondary">발주자</td>
                <td colspan="2">
                  {{field.orderer}}
                </td>
                <td class="table-secondary">시공자</td>
                <td colspan="2">
                  {{field.constructComp}}
                </td>
              </tr>
              <tr>
                <td class="table-primary">국가중요시설 여부</td>
                <td colspan="5" class="p-4">
                  <textarea class="form-control text-center" name='isImportFacility' id="isImportFacility"
                    placeholder="내용을 입력해주세요." rows="3" value="{{form.instance.isImportFacility|default_if_none:''}}"
                    >{{form.instance.isImportFacility|default_if_none:''}}</textarea>
                </td>
              </tr>
              <tr>
                <td colspan="6" class="p-5">건설기술 진흥법 제60조 제
                  1항에 따라 품질시험ᆞ검사를
                  의뢰합니다</td>
              </tr>
              <tr>
                <td rowspan="3" class="table-secondary">의뢰일</td>
                <td rowspan="3">{{qty_request.orderDate|default:''}}</td>
                <td rowspan="3" class="table-secondary">의뢰인</td>
                <td rowspan="3">{{qty_request.agentId.name}}</td>
                <td class="table-secondary">서명</td>
                <td>
                  (인)
                </td>
              </tr>
              <tr>
                <td class="table-secondary">전화번호</td>
                <td>
                  {{field.callNum}}
                </td>
              </tr>
              <tr>
                <td class="table-secondary">주소</td>
                <td>
                  {{field.address}}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
    </form>
  </div>
  <br><br><br><br><br>
</main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  // 변경 되었을 시 서명 요청이 안됨
  let isChange = false;
  let qtyreq_form = document.getElementById("qtyreqform")
  const temp_input_list = qtyreq_form.querySelectorAll("input")
  const textarea_list = qtyreq_form.querySelectorAll("textarea")
  const select_list = qtyreq_form.querySelectorAll("select")
  const input_list = []
  for (let temp of temp_input_list) {
    if (temp.name) {
      input_list.push(temp)
    }
  }
  for (let input_item of input_list) {
    input_item.addEventListener("change", function () {
      isChange = true;
    })
  }

  for (let textarea_item of textarea_list) {
    textarea_item.addEventListener("change", function () {
      isChange = true;
    })
  }

  for (let select_item of select_list) {
    select_item.addEventListener("change", function () {
      isChange = true;
    })
  }

  // 서명 할 경우 변경
  let isSign = '{{form.instance.writerId}}' === "None" ? false : true;
  if ('{{form.instance.writerId}}' === "None") {
    const sign_button = document.getElementById("sign_button")
    sign_button.addEventListener("click", function () {
      const id_input = document
        .getElementById("signRequest")
        .value
      const username = "{{request.user.username}}"
      if (id_input === username) {
        isSign = true;
        const signModal = $('#signModal')
        signModal.modal('hide');
        signModal
          .parent()
          .html("<img width='60%' alt='' src='{{request.user.signImage.url}}'/>")
      } else {
        Swal.fire({
          title: 'Error!',
          text: '아이디가 다릅니다.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      }
    })
  }

  // 저장 버튼 클릭 시
  qtyreq_form.addEventListener("submit", function (e) {
    if (isChange && isSign) {
      return true;
    } else {
      e.preventDefault()
      if (!!!isChange) {
        Swal.fire({
          title: 'Error!',
          text: '변경된 내용이 없습니다.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      } else {
        Swal.fire({
          title: 'Error!',
          text: '서명을 해주세요.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      }
      return false;
    }
  })

  // 서명 요청 시 서명 목록 로드
  $('#sign_modal_button').on('click', () => {
    if (isChange === true) {
      Swal.fire({
        title: 'Error!',
        text: '저장을 해주세요.',
        icon: 'error',
        confirmButtonText: '닫기'
      })
      return false;
    }
    const select_form = document.getElementById('sign_select')
    select_form.innerHTML = ""
    $.ajax({
      type: "GET",
      url: "{% url 'work:get_users' %}",
      async: false,
      success: (data) => {
        data.users.forEach(value => {
          const option = document.createElement("option")
          option.value = value.id
          option.text = value.name
          select_form.appendChild(option)
        })
        $('#signRequestModal').modal('show')
      }
    })
  })

  // 서명 요청 후 알림창 띄우기
  $('#signRequestBtn').on('click', () => {
    Swal.fire(
      '완료!',
      '서명 요청이 전송되었습니다!',
      'success'
    ).then(() => {
      document.forms['sign_form'].submit()
    })
  })

  // 설치위치 받아오기
  const [class1_select, class2_select, class3_select] = ['class1', 'class2', 'class3'].map(
    (class_name) => document.getElementById(class_name)
  )

  const create_init_option = (select_element) => {
    const option = document.createElement("option")
    option.value = ''
    option.text = '---------'
    option.selected = true
    select_element.appendChild(option)
  }

  $.get("{% url 'system_manager:get_locate' 1 %}", function (data) {
    create_init_option(class1_select)
    data['install_locate'].forEach(value => {
      const option = document.createElement("option")
      option.value = value.id
      option.text = value.class1
      class1_select.appendChild(option)
    })
  });

  class1_select.addEventListener("change", function () {
    const class1_id = class1_select.value
    if (class1_id === '') {
      class2_select.innerHTML = ""
      class3_select.innerHTML = ""
      create_init_option(class2_select)
      create_init_option(class3_select)
    } else {
      $.get("{% url 'system_manager:get_locate' 2 %}", {
        class_id: class1_id
      }, function (data) {
        class2_select.innerHTML = ""
        create_init_option(class2_select)
        data['install_locate'].forEach(value => {
          const option = document.createElement("option")
          option.value = value.id
          option.text = value.class2
          class2_select.appendChild(option)
        })
      });
    }
  });

  class2_select.addEventListener("change", function () {
    const class2_id = class2_select.value
    if (class2_id === '') {
      class3_select.innerHTML = ""
      create_init_option(class3_select)
    } else {
      $.get("{% url 'system_manager:get_locate' 3 %}", {
        class_id: class2_id
      }, function (data) {
        class3_select.innerHTML = ""
        create_init_option(class3_select)
        data['install_locate'].forEach(value => {
          const option = document.createElement("option")
          option.value = value.id
          option.text = value.class3
          class3_select.appendChild(option)
        })
      });
    }
  });

  function insertAfter(referenceNode, newNode) {
    if (!!referenceNode.nextSibling) {
      referenceNode.parentNode.insertBefore(newNode, referenceNode.nextSibling);
    } else {
      referenceNode.parentNode.appendChild(newNode);
    }
  }

  class3_select.addEventListener("change", function () {
    const class3_id = class3_select.value
    if (class3_id === '') return;
    const locate_list = document.getElementsByName('locate[]')
    for (const locate_element of locate_list) {
      if (locate_element.value === class3_id) {
        return;
      }
    }
    const locate_div = document.createElement("div")
    locate_div.classList.add("row", "p-2", "border")
    locate_div.innerHTML = `<input type="hidden" name="locate[]" value="${class3_id}">
      <div class="col-10">
        ${class1_select.options[class1_select.selectedIndex].text} -
        ${class2_select.options[class2_select.selectedIndex].text} -
        ${class3_select.options[class3_select.selectedIndex].text}
      </div>
      <div class="col-2">
        <button type="button" class="btn btn-danger btn-sm" onclick="delete_locate(this)">삭제</button>
      </div>`
    const [locate_table, select_locate] = ['locate_table', 'select_locate'].map(
      (class_name) => document.getElementById(class_name)
    )
    insertAfter(locate_table, locate_div)
  });

  function delete_locate(e) {
    e.parentElement.parentElement.remove()
  }

  // 시험 및 시방기준 자동 입력
  const test_standard_input = document.getElementById('test_standard')
  const goods_select = document.getElementById('id_goods')
  goods_select.addEventListener("change", function () {
    const goods_id = goods_select.value

    // 시료명 변경
    const goods_input = document.getElementById('goods_input')
    if (goods_id === '8') {
      goods_input.value = ''
      goods_input.readOnly = false
    } else if (goods_id === '') {
      goods_input.value = ''
      goods_input.readOnly = true
    } else {
      goods_input.readOnly = true
      goods_input.value = goods_select.options[goods_select.selectedIndex].text
    }

    // 시험 및 시방기준 변경
    if (goods_id === '') {
      test_standard_input.value = ""
      test_standard_input.readOnly = true
    } else if (goods_id === "1" || goods_id === "2") {
      test_standard_input.value = "KS F 8002"
      test_standard_input.readOnly = true
    } else if (goods_id === "8") {
      test_standard_input.value = ""
      test_standard_input.readOnly = false
    } else {
      test_standard_input.value = "KS F 8021"
      test_standard_input.readOnly = true
    }
  });
</script>
{% endblock %}