<!-- Quality request page -->
{% extends 'base/head.html' %}
{% block title %}
Safety Check
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:quality_menu' %}">품질검사</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:quality_request' %}">품질검사 의뢰</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">품질검사 의뢰서 작성</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-4 offset-8 ">
            <div class="row">
              <div class="col">
                <div class="col">
                  <button class="btn1 p-2 btn btn-light col-12" aria-label="Left Align" type="submit" form="qtyreqform"
                    id="save_button">저장</button>
                </div>
              </div>
              <div class="col">
                <button class="btn1 p-2 btn btn-light col-12" aria-label="Left Align" id="sign_modal_button">서명
                  요청</button>
                <!-- Modal -->
                <div class="modal fade" id="signRequestModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">서명 요청</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <form method="POST" action="{% url 'work:require_sign_quality_request' %}" id="sign_form">
                          {% csrf_token %}
                          <input type='hidden' name="docNum" value="{{form.instance.docNum}}" />
                          <select class="form-select" name="sign" id="sign_select">
                          </select>
                        </form>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">취소</button>
                        <button type="button" class="btn btn-primary" id="signRequestBtn">요청</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      {% include 'base/messages.html' %}
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </section>
    <form action="" id="qtyreqform" method="POST">
      {% csrf_token %}
      <section>
        <div class="container mt-3 mb-5" style="border: 1px solid rgb(210, 210, 210);">
          <div class="row">
            <div class="col-12 text-center my-4">
              <h1>품질검사 의뢰서</h1>
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">문서번호</label>
            </div>
            <div class="col-4">
              품질검사 의뢰서-{{docNum}}
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">품명</label>
            </div>
            <div class="col-4">
              {{form.goods}}
            </div>
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">규격</label>
            </div>
            <div class="col-4">
              {{form.size}}
            </div>
            <div class="col-4">
              {{form.std}}
            </div>
          </div>

          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">시험ᆞ검사종목</label>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col">
                  {{form.testType_hweem.label_tag}} {{form.testType_hweem}}
                </div>
                <div class="col">
                  {{form.testType_zip.label_tag}} {{form.testType_zip}}
                </div>
                <div class="col">
                  {{form.testType_tensile.label_tag}} {{form.testType_tensile}}
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">시료량</label>
            </div>
            <div class="col-10">
              {{form.sampleQuentity}}
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">시료 또는 자재 생산국</label>
            </div>
            <div class="col-10">
              {{form.sampleOrigin}}
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">시료 채취 장소</label>
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-1">구분1</div>
                <div class="col-3">
                  <select class="form-select" id="class1">
                  </select>
                </div>
                <div class="col-1">구분2</div>
                <div class="col-3">
                  <select class="form-select" id="class2">
                  </select>
                </div>
                <div class="col-1">구분3</div>
                <div class="col-3">
                  <select class="form-select" id="class3" name="locate" required>
                  </select>
                </div>
                {{form.sColSite}}
              </div>
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">시료 채취 일자</label>
            </div>
            <div class="col"><input type="date" class="form-control" name="sampleDate" id="sampleDate"
                placeholder="작성일자" value="{{form.instance.sampleDate|date:'Y-m-d'|default_if_none:''}}" required />
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center justify-content-center align-items-center d-flex">
              <label for="" class="col-12" style="color: black;">시료 채취자</label>
            </div>
            <div class="col-10">
              <div class="row mt-2">
                <div class="col-1">
                  <label for="">업체명</label>
                </div>
                <div class="col-2">
                  {{request.user.company}}
                </div>
                <div class="col-1">
                  <label for="" class="mr-1">담당 업무</label>
                </div>
                <div class="col-2">
                  {{request.user.class3}}
                </div>
                <div class="col-1">
                  <label for="" class="mr-1">서명</label>
                </div>
                <div class="col-2">
                  {{request.user.name}}
                </div>
                <div class="col-2">
                  {% if form.instance.writerId != None %}<img width="100%" alt=""
                    src="{{form.instance.writerId.signImage.url}}" />
                  {% else %}(인)
                  <!-- Button trigger modal -->
                  <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal"
                    data-bs-target="#signModal">
                    서명
                  </button>
                  <!-- Modal -->
                  <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title">서명 요청</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <div class="mb-3">
                            <label for="signRequest" class="form-label">아이디를 입력해주세요</label>
                            <input type="password" class="form-control" id="signRequest" placeholder="아이디 입력">
                          </div>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                            취소</button>
                          <button id="sign_button" type="button" class="btn btn-primary">서명</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center justify-content-center align-items-center d-flex">
              <label for="" class="col-12" style="color: black;">입회자</label>
            </div>
            <div class="col-10">
              <div class="row mt-2">
                <div class="col-1">
                  <label for="">업체명</label>
                </div>
                <div class="col-2">
                  {{form.entrantOrg}}
                </div>
                <div class="col-1">
                  <label for="" class="mr-1">담당 업무</label>
                </div>
                <div class="col-2">
                  {{form.entrantRank}}
                </div>
                <div class="col-1">
                  <label for="" class="mr-1">서명</label>
                </div>
                <div class="col-2">
                  {{form.entrantName}}
                </div>
                <div class="col-2">
                  <label for="" class="mr-1">(인)</label>
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">시험 및 시방기준</label>
            </div>
            <div class="col-10" id="test_standard">
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">성과 이용 목적</label>
            </div>
            <div class="col-10">
              품질 시험용
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center justify-content-center align-items-center d-flex">
              <label for="" class="col-12" style="color: black;">공사개요</label>
            </div>
            <div class="col-10">
              <div class="row p-2 border">
                <div class="col-2">
                  <label for="">공사명</label>
                </div>
                <div class="col-10">
                  {{field.title}}
                </div>
              </div>
              <div class="row p-2 border">
                <div class="col-2">
                  <label for="">착공일</label>
                </div>
                <div class="col-10">
                  {{field.startDay}}
                </div>
              </div>
              <div class="row p-2 border">
                <div class="col-2">
                  <label for="">준공예정일</label>
                </div>
                <div class="col-10">
                  {{field.endDay}}
                </div>
              </div>
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">발주자</label>
            </div>
            <div class="col-4">
              {{field.orderer}}
            </div>
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">시공자</label>
            </div>
            <div class="col-4">
              {{field.constructComp}}
            </div>
          </div>
          <div class="p-2 border row">
            <div class="col-2 text-center">
              <label for="" class="col-12" style="color: black;">국가중요시설 여부</label>
            </div>
            <div class="col-10">
              <textarea class="form-control text-center" name='isImportFacility' id="isImportFacility"
                placeholder="내용을 입력해주세요." rows="3" value="{{form.instance.isImportFacility|default_if_none:''}}"
                required>{{form.instance.isImportFacility|default_if_none:''}}</textarea>
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <label style="white-space: normal;" for="" class="col-12 text-center">건설기술 진흥법 제60조 제 1항에 따라 품질시험ᆞ검사를
                의뢰합니다</label>
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-2">
              <label for="" class="col-12" style="color: black;">의뢰일</label>
            </div>
            <div class="col-4">
            </div>
            <div class="col-1">
              <label for="" class="col-12" style="color: black;">의뢰인</label>
            </div>
            <div class="col-1">
            </div>
            <div class="col-1">
              <label for="" class="col-12" style="color: black;">서명</label>
            </div>
            <div class="col-3">
              <label for="" class="col-12" style="color: black;">(인)</label>
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-1 offset-8">
              <label for="" class="col-12" style="color: black;">전화번호</label>
            </div>
            <div class="col-3">
              {{field.callNum}}
            </div>
          </div>
          <div class="p-2 border row text-center">
            <div class="col-1 offset-8">
              <label for="" class="col-12" style="color: black;">주소</label>
            </div>
            <div class="col-3">
              {{field.address}}
            </div>
          </div>
          <br>

      </section>
    </form>
  </div>
  <br><br><br><br><br>
</main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  // 변경 되었을 시 서명 요청이 안됨
  let isChange = false;
  let qtyreq_form = document.getElementById("qtyreqform")
  const temp_input_list = qtyreq_form.querySelectorAll("input")
  const textarea_list = qtyreq_form.querySelectorAll("textarea")
  const select_list = qtyreq_form.querySelectorAll("select")
  const input_list = []
  for (let temp of temp_input_list) {
    if (temp.name) {
      input_list.push(temp)
    }
  }
  for (let input_item of input_list) {
    input_item.addEventListener("change", function () {
      isChange = true;
    })
  }

  for (let textarea_item of textarea_list) {
    textarea_item.addEventListener("change", function () {
      isChange = true;
    })
  }

  for (let select_item of select_list) {
    select_item.addEventListener("change", function () {
      isChange = true;
    })
  }

  // 서명 할 경우 변경
  let isSign = '{{form.instance.writerId}}' === "None" ? false : true;
  if ('{{form.instance.writerId}}' === "None") {
    const sign_button = document.getElementById("sign_button")
    sign_button.addEventListener("click", function () {
      const id_input = document
        .getElementById("signRequest")
        .value
      const username = "{{request.user.username}}"
      if (id_input === username) {
        isSign = true;
        const signModal = $('#signModal')
        signModal.modal('hide');
        signModal
          .parent()
          .html("<img width='100%' alt='' src='{{request.user.signImage.url}}'/>")
      } else {
        Swal.fire({
          title: 'Error!',
          text: '아이디가 다릅니다.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      }
    })
  }

  // 저장 버튼 클릭 시
  qtyreq_form.addEventListener("submit", function (e) {
    if (isChange && isSign) {
      return true;
    } else {
      e.preventDefault()
      if (!!!isChange) {
        Swal.fire({
          title: 'Error!',
          text: '변경된 내용이 없습니다.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      } else {
        Swal.fire({
          title: 'Error!',
          text: '서명을 해주세요.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      }
      return false;
    }
  })

  // 서명 요청 시 서명 목록 로드
  $('#sign_modal_button').on('click', () => {
    if (isChange === true) {
      Swal.fire({
        title: 'Error!',
        text: '저장을 해주세요.',
        icon: 'error',
        confirmButtonText: '닫기'
      })
      return false;
    }
    const select_form = document.getElementById('sign_select')
    select_form.innerHTML = ""
    $.ajax({
      type: "GET",
      url: "{% url 'work:get_users' %}",
      async: false,
      success: (data) => {
        data.users.forEach(value => {
          const option = document.createElement("option")
          option.value = value.id
          option.text = value.name
          select_form.appendChild(option)
        })
        $('#signRequestModal').modal('show')
      }
    })
  })

  // 서명 요청 후 알림창 띄우기
  $('#signRequestBtn').on('click', () => {
    Swal.fire(
      '완료!',
      '서명 요청이 전송되었습니다!',
      'success'
    ).then(() => {
      document.forms['sign_form'].submit()
    })
  })

  // 설치위치 받아오기
  const [class1_select, class2_select, class3_select] = ['class1', 'class2', 'class3'].map(
    (class_name) => document.getElementById(class_name)
  )

  const create_init_option = (select_element) => {
    const option = document.createElement("option")
    option.value = ''
    option.text = '---------'
    option.selected = true
    select_element.appendChild(option)
  }

  $.get("{% url 'system_manager:get_locate' 1 %}", function (data) {
    create_init_option(class1_select)
    data['install_locate'].forEach(value => {
      const option = document.createElement("option")
      option.value = value.id
      option.text = value.class1
      class1_select.appendChild(option)
    })
  });

  class1_select.addEventListener("change", function () {
    const class1_id = class1_select.value
    if (class1_id === '') {
      class2_select.innerHTML = ""
      class3_select.innerHTML = ""
      create_init_option(class2_select)
      create_init_option(class3_select)
    } else {
      $.get("{% url 'system_manager:get_locate' 2 %}", {
        class_id: class1_id
      }, function (data) {
        class2_select.innerHTML = ""
        create_init_option(class2_select)
        data['install_locate'].forEach(value => {
          const option = document.createElement("option")
          option.value = value.id
          option.text = value.class2
          class2_select.appendChild(option)
        })
      });
    }
  });

  class2_select.addEventListener("change", function () {
    const class2_id = class2_select.value
    if (class2_id === '') {
      class3_select.innerHTML = ""
      create_init_option(class3_select)
    } else {
      $.get("{% url 'system_manager:get_locate' 3 %}", {
        class_id: class2_id
      }, function (data) {
        class3_select.innerHTML = ""
        create_init_option(class3_select)
        data['install_locate'].forEach(value => {
          const option = document.createElement("option")
          option.value = value.id
          option.text = value.class3
          class3_select.appendChild(option)
        })
      });
    }
  });

  // 시험 및 시방기준 자동 입력
  const test_standard_element = document.getElementById('test_standard')
  const goods_select = document.getElementById('id_goods')
  goods_select.addEventListener("change", function () {
    test_standard_element.innerHTML = ""
    const goods_id = goods_select.value
    const input_element = document.createElement("input")
    input_element.type = "text"
    input_element.name = "testStandard"
    input_element.readOnly = true
    if (goods_id === "1" || goods_id === "2") {
      input_element.value = "KS F 8002"
    } else {
      input_element.value = "KS F 8021"
    }
    test_standard_element.appendChild(input_element)
  });
</script>
{% endblock %}