{% extends 'base/head.html' %}
{% block title %}
품질검사 의뢰
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <a href="{% url 'work:quality_menu' %}">품질검사</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">품질검사 의뢰</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        {% if request.user.class2 == "일반 관리자" %}
        <div class="row justify-content-between">
          <div class="col-3">
            <a href="{% url 'work:create_quality_request' %}">
              <button class="btn mb-2">품질검사 의뢰서 작성하기</button>
            </a>
          </div>
          <div class="col-1">
            <button class="btn btn-danger" onclick="delete_btn_click()">삭제</button>
          </div>
        </div>
        {% endif %}
        <div class="row mt-2">
          <div class="col-12">
            <table style="border-collapse: collapse;" class="col-12" border="1" id="table">
              <tr>
                {% if request.user.class2 == '일반 관리자' %}
                <td style="width: 5%;"></td>
                <td style="width: 65%;">
                  문서
                </td>
                {% else %}
                <td style="width: 70%;">
                  문서
                </td>
                {% endif %}
                <td style="width: 10%;">
                  작성자
                </td>
                <td style="width: 20%;">
                  작성 날짜
                </td>
              </tr>
              {% for i in qty_request_items %}
              <tr>
                {% if request.user.class2 == '일반 관리자' %}
                <td>
                  <input type="checkbox" value="{{i.docNum}}">
                </td>
                {% endif %}
                <td>
                  <!--관리자 유형마다 확인이 다름-->
                  {% if request.user.class2 == "일반 관리자" %}
                  <a {% if i.isCheckManager == False and i.isSuccess == True %}
                    href="{% url 'work:read_quality_request' i.docNum %}" class="link-success"
                    {% elif i.isCheckManager == False %} href="/work/update_quality_request/{{i.docNum}}"
                    class="link-primary" {% else %} href="{% url 'work:read_quality_request' i.docNum %}"
                    class="link-secondary" {% endif %}>품질검사
                    의뢰서-{{ i.docNum}}-{{i.title}}</a>
                  {% elif request.user.class2 == "현장 대리인" %}
                  <a {% if i.isCheckAgent == False and i.isSuccess == True %}
                    href="{% url 'work:read_quality_request' i.docNum %}" class="link-success"
                    {% elif i.isCheckAgent == False %} href="/work/update_quality_request/{{i.docNum}}"
                    class="link-primary" {% else %} href="{% url 'work:read_quality_request' i.docNum %}"
                    class="link-secondary" {% endif %}>품질검사
                    의뢰서-{{ i.docNum}}-{{i.title}}</a>
                  {% elif request.user.class2 == "일반 건설사업관리기술인"%}
                  <a {% if i.isSuccess == False %} href="/work/update_quality_request/{{i.docNum}}" class="link-primary"
                    {% else %} href="{% url 'work:read_quality_request' i.docNum %}" class="link-secondary"
                    {% endif %}>품질검사
                    의뢰서-{{ i.docNum}}-{{i.title}}</a>
                  {% endif %}
                </td>
                <td>
                  {{i.writerId.name}}
                </td>
                <td>
                  {{i.created_at|date:"Y-m-d"}}
                </td>
              </tr>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!--페이징 코트-->
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          {% if qty_request_items.has_previous %}
          <li class="page-item">
            <a class="page-link" href="?page={{qty_request_items.previous_page_number}}" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&laquo;</a>
          </li>
          {% endif %}
          {% for page_number in qty_request_items.paginator.page_range %}
          {% if page_number == qty_request_items.number %}
          <li class="page-item active" aria-current="page">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% else %}
          <li class="page-item">
            <a class="page-link" href="?page={{ page_number }}">{{ page_number }}</a>
          </li>
          {% endif %}
          {% endfor %}
          {% if qty_request_items.has_next %}
          <li class="page-item">
            <a class="page-link" href="?page={{ qty_request_items.next_page_number }}">&raquo;</a>
          </li>
          {% else %}
          <li class="page-item disabled">
            <a class="page-link" tabindex="-1" aria-disabled="true" href="#">&raquo;</a>
          </li>
          {% endif %}
        </ul>
      </nav>
    </section>
  </div>
  <br><br><br><br><br>
</main>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  const delete_btn_click = async () => {
    const delete_nodes = document.querySelectorAll('input[type=checkbox]:checked');
    const delete_list = Array.from(delete_nodes).map(node => node.value);
    const result = (await $.ajax({
      url: "{% url 'work:delete_quality_requests' %}",
      method: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      data: {
        delete_list: delete_list
      }
    })).result;
    if (result == "success") {
      Swal.fire(
        '완료!',
        '삭제되었습니다.',
        'success'
      ).then(() => {
        location.reload();
      })
    } else {
      Swal.fire({
        title: 'Error!',
        text: '삭제에 실패하였습니다.',
        icon: 'error',
        confirmButtonText: '닫기'
      })
    }
  }
</script>
{% endblock %}