<!-- Quality request page -->
{% extends 'base/head.html' %}
{% block title %}
품질검사 의뢰서 작성
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:quality_menu' %}">품질검사</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:quality_request' %}">품질검사 의뢰</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">품질검사 의뢰서</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <div class="col-4 offset-8 ">
            <div class="row">
              <div class="col">
                <div class="col">
                  <form method="POST" id="qtyreqform">
                    {% csrf_token %}
                    <button class="btn1 p-2 btn btn-light col-12" aria-label="Left Align" type="submit"
                      id="save_button">저장</button>
                  </form>
                </div>
              </div>
              <div class="col">
                <form method="POST" action="{% url 'work:require_sign_quality_request' %}" id="sign_form">
                  {% csrf_token %}
                  <input type='hidden' name="docNum" value="{{qty_request.docNum}}" />
                </form>
                <button class="btn1 p-2 btn btn-light col-12" aria-label="Left Align" id="sign_modal_button">검토
                  완료</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      {% include 'base/messages.html' %}
      {% if form.errors %}
      <div class="alert alert-danger" role="alert">
        {% for field in form %}
        {% if field.errors %}
        <strong>{{ field.label }}</strong>
        {{ field.errors }}
        {% endif %}
        {% endfor %}
      </div>
      {% endif %}
    </section>
    <section>
      <div class="container p-4 mb-5 text-center">
        <table class="table">
          <thead>
            <th class="p-4" colspan="6">
              <h1>품질검사 의뢰서</h1>
            </th>
          </thead>
          <tbody class="align-middle">
            <tr>
              <td>문서번호</td>
              <td colspan="5">
                품질검사 의뢰서-{{ qty_request.docNum }}
              </td>
            </tr>
            <tr>
              <td>제목</td>
              <td colspan="5">
                {{ form.instance.title }}
              </td>
            </tr>
            <tr>
              <td>시료명</td>
              <td colspan="2">
                {{ qty_request.goods }}
              </td>
              <td>규격</td>
              <td colspan="2">
                {{qty_request.size}}
              </td>
            </tr>
            <tr>
              <td>시험ᆞ검사종목</td>
              <td colspan="5">
                <div class="col-6">
                  <div class="row">
                    {% if qty_request.testType_hweem %}
                    <div class="col">
                      휨하중
                    </div>
                    {% endif %}
                    {% if qty_request.testType_zip %}
                    <div class="col">
                      압축하중
                    </div>
                    {% endif %}
                    {% if qty_request.testType_tensile %}
                    <div class="col">
                      인장하중
                    </div>
                    {% endif %}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>시료량</td>
              <td colspan="5">
                {{qty_request.sampleQuentity}}
              </td>
            </tr>
            <tr>
              <td>시료 또는 자재 생산국</td>
              <td colspan="5">
                {{qty_request.sampleOrigin}}
              </td>
            </tr>
            <tr>
              <td>시료 채취 장소</td>
              <td colspan="5">
                <div class="row">
                  <div class="col-1">Level1</div>
                  <div class="col-3">
                    {{qty_request.locateId.class2.class1.class1}}
                  </div>
                  <div class="col-1">Level2</div>
                  <div class="col-3">
                    {{qty_request.locateId.class2.class2}}
                  </div>
                  <div class="col-1">Level3</div>
                  <div class="col-3">
                    {{qty_request.locateId.class3}}
                  </div>
                </div>
              </td>
            </tr>
            <tr>
              <td>시료 채취 일자</td>
              <td colspan="5">
                {{qty_request.sampleDate}}
              </td>
            </tr>
            <tr>
              <td>시료 채취자</td>
              <td colspan="4">
                <div class="row">
                  <div class="col-1">
                    <label for="">업체명</label>
                  </div>
                  <div class="col-3">
                    {{qty_request.writerId.company}}
                  </div>
                  <div class="col-1">
                    <label for="" class="mr-1">담당 업무</label>
                  </div>
                  <div class="col-3">
                    {{qty_request.writerId.class3}}
                  </div>
                  <div class="col-1">
                    <label for="" class="mr-1">서명</label>
                  </div>
                  <div class="col-3">
                    {{qty_request.writerId.name}}
                  </div>
                </div>
              </td>
              <td>
                <img width="60%" alt="" src="{{qty_request.writerId.signImage.url}}" />
              </td>
            </tr>
            <tr>
              <td>입회자</td>
              <td colspan="4">
                <div class="row">
                  <div class="col-1">
                    <label for="">업체명</label>
                  </div>
                  <div class="col-3">
                    {{qty_request.generalEngineerId.company}}
                  </div>
                  <div class="col-1">
                    <label for="" class="mr-1">담당 업무</label>
                  </div>
                  <div class="col-3">
                    {{qty_request.generalEngineerId.class3}}
                  </div>
                  <div class="col-1">
                    <label for="" class="mr-1">서명</label>
                  </div>
                  <div class="col-3">
                    {{qty_request.generalEngineerId.name}}
                  </div>
                </div>
              </td>
              <td>
                {% if qty_request.isSaveGeneralEngineer %}
                <img width="60%" alt="" src="{{qty_request.generalEngineerId.signImage.url}}" />
                {% else %}
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#signModal">
                  서명
                </button>
                <!-- Modal -->
                <div class="modal fade" id="signModal" tabindex="-1" role="dialog" aria-labelledby="modelTitleId"
                  aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title">서명 요청</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="mb-3">
                          <label for="signRequest" class="form-label">아이디를 입력해주세요</label>
                          <input type="password" class="form-control" id="signRequest" placeholder="아이디 입력">
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                          취소</button>
                        <button id="sign_button" type="button" class="btn btn-primary">서명</button>
                      </div>
                    </div>
                  </div>
                </div>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>시험 및 시방기준</td>
              <td colspan="5" id="test_standard">
                {{qty_request.testStandard}}
              </td>
            </tr>
            <tr>
              <td>성과 이용 목적</td>
              <td colspan="5">품질 시험용</td>
            </tr>
            <tr>
              <td rowspan="3">공사개요</td>
              <td>공사명</td>
              <td colspan="4">
                {{qty_request.fieldId.title}}
              </td>
            </tr>
            <tr>
              <td>착공일</td>
              <td colspan="4">
                {{qty_request.fieldId.startDay}}
              </td>
            </tr>
            <tr>
              <td>준공예정일</td>
              <td colspan="4">
                {{qty_request.fieldId.endDay}}
              </td>
            </tr>
            <tr>
              <td>발주자</td>
              <td colspan="2">
                {{qty_request.fieldId.orderer}}
              </td>
              <td>시공자</td>
              <td colspan="2">
                {{qty_request.fieldId.constructComp}}
              </td>
            </tr>
            <tr>
              <td>국가중요시설 여부</td>
              <td colspan="5" class="p-4">
                {{qty_request.isImportFacility}}
              </td>
            </tr>
            <tr>
              <td colspan="6" class="p-5">건설기술 진흥법 제60조 제
                1항에 따라 품질시험ᆞ검사를
                의뢰합니다</td>
            </tr>
            <tr>
              <td rowspan="3">의뢰일</td>
              <td rowspan="3">
                {{qty_request.orderDate}}
              </td>
              <td rowspan="3">의뢰인</td>
              <td rowspan="3">
                {{qty_request.agentId.name}}
              </td>
              <td>서명</td>
              <td><img width="60%" alt="" src="{{qty_request.agentId.signImage.url}}" />
              </td>
            </tr>
            <tr>
              <td>전화번호</td>
              <td>
                {{qty_request.fieldId.callNum}}
              </td>
            </tr>
            <tr>
              <td>주소</td>
              <td>
                {{qty_request.fieldId.address}}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <br><br><br><br><br>
</main>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
  let qtyreq_form = document.getElementById("qtyreqform")
  // 서명 할 경우 변경
  let isSign = '{{qty_request.isSaveGeneralEngineer}}' === "False" ? false : true;
  if (!!!isSign) {
    const sign_button = document.getElementById("sign_button")
    sign_button.addEventListener("click", function () {
      const id_input = document
        .getElementById("signRequest")
        .value
      const username = "{{request.user.username}}"
      if (id_input === username) {
        isSign = true;
        const signModal = $('#signModal')
        signModal.modal('hide');
        signModal
          .parent()
          .html("<img width='100%' alt='' src='{{request.user.signImage.url}}'/>")
      } else {
        Swal.fire({
          title: 'Error!',
          text: '아이디가 다릅니다.',
          icon: 'error',
          confirmButtonText: '닫기'
        })
      }
    })
  }

  // 저장 버튼 클릭 시
  qtyreq_form.addEventListener("submit", function (e) {
    if (isSign) {
      return true;
    } else {
      e.preventDefault()
      Swal.fire({
        title: 'Error!',
        text: '서명을 해주세요.',
        icon: 'error',
        confirmButtonText: '닫기'
      })
      return false;
    }
  })

  // 서명 요청 시 서명 목록 로드
  $('#sign_modal_button').on('click', () => {
    if (isSign === false) {
      Swal.fire({
        title: 'Error!',
        text: '서명을 해주세요.',
        icon: 'error',
        confirmButtonText: '닫기'
      })
      return false;
    } else {
      Swal.fire(
        '완료!',
        '검토가 완료 되었습니다!',
        'success'
      ).then(() => {
        document.forms['sign_form'].submit()
      })
    }
  })
</script>
{% endblock %}