<!-- Safety form page -->
{% extends 'base/head.html' %}
{% load static %}
{% block title %}
구조 안전성 검토 신고 및 승인서
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <a href="{% url 'work:safety' %}">구조 안전성 검토</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">구조 안전성 검토 신고 및 승인서</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    {% include 'util/pdfbtn.html' %}
    <section>
      <div id="safety" class="container p-4 mb-5 text-center">
        <table class="table">
          <thead>
            <th class="p-4" colspan="6">
              <h1>구조 안전성 검토 신고서</h1>
            </th>
          </thead>
          <tbody class="align-middle">
            <tr>
              <td class="table-secondary">문서번호</td>
              <td colspan="2">구조 안전성 검토 신고 및 승인서-{{safety.docNum}}</td>
              <td class="table-secondary">작성일자</td>
              <td colspan="2">{{safety.date}}</td>
            </tr>
            <tr>
              <td class="table-secondary">제목</td>
              <td colspan="5">{{safety.title}}</td>
            </tr>
            <tr>
              <td class="table-secondary">공종</td>
              <td colspan="5">{{safety.constructType}}</td>
            </tr>
            <tr>
              <td class="table-secondary">설치 위치</td>
              <td colspan="5">
                {% for locate in safety.locateId.all %}
                <div class="row">
                  <div class="col">
                    {{locate.class2.class1.class1}} -
                    {{locate.class2.class2}} -
                    {{locate.class3}}
                  </div>
                </div>
                {% endfor %}
              </td>
            </tr>
            <tr>
              <td rowspan="3" class="table-secondary">내용</td>
              <td colspan="5" class="p-4">
                {{safety.text}}
              </td>
            </tr>
            <tr>
              <td rowspan="2" colspan="2"></td>
              <td class="table-secondary">담당자</td>
              <td>
                {{safety.writerId.name|default:""}}
              </td>
              <td>
                {% if safety.writerId %}<img width="60%" alt="" src="{{safety.writerId.signImage.url}}" />
                {% else %}(인)
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">현장대리인</td>
              <td>
                {{safety.agentId.name|default:""}}
              </td>
              <td>
                {% if safety.isSaveAgent %}
                <img width="60%" alt="" src="{{safety.agentId.signImage.url}}" />
                {% else %}
                (인)
                {% endif %}
              </td>
            </tr>
            <tr>
              <td rowspan="2" class="table-secondary">붙임</td>
              <td>구조계산서</td>
              <td colspan="4">
                <ol class="list-group" id="구조계산서-ol">
                  {% for item in safety.docs.all %}
                  {% if '구조 계산서' in item.type %}
                  <li class="list-group-item"><a href="{{item.file.url}}" target="_blank">{{item.filename}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ol>
              </td>
            </tr>
            <tr>
              <td>시공상세도면</td>
              <td colspan="4">
                <ol class="list-group" id="시공상세도면-ol">
                  {% for item in safety.docs.all %}
                  {% if '시공상세도면' in item.type %}
                  <li class="list-group-item"><a href="{{item.file.url}}" target="_blank">{{item.filename}}</a></li>
                  {% endif %}
                  {% endfor %}
                </ol>
              </td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th class="p-4" colspan="6">
                <h1>구조 안전성 검토 승인서</h1>
              </th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <tr>
              <td class="table-secondary">회신일자</td>
              <td colspan="5">
                {% if safety.replyDate %}
                {{safety.replyDate}}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="table-secondary" rowspan="3">검토 의견</td>
              <td>담당자</td>
              <td colspan="4">
                {% if safety.generalEngineerText %}
                {{safety.generalEngineerText}}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>총괄관리자</td>
              <td colspan="4">
                {% if safety.totalEngineerText %}
                {{safety.totalEngineerText}}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td>구조안전성 검토<br>체크리스트</td>
              <td colspan="4">
                {% if safety.checklistDate %}
                <a class="link-success" href="{% url 'work:read_checklist' safety.docNum %}">구조 안전성 검토
                  체크리스트 {{safety.docNum}}-{{safety.checklistTitle}}</a>
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">결과</td>
              <td colspan="5">
                {% if safety.result %}
                {{safety.get_result_display}}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">담당건설사업<br>관리기술인</td>
              <td>
                {% if safety.generalEngineerId %}
                {{safety.generalEngineerId.name}}
                {% endif %}
              </td>
              <td>
                {% if safety.isSaveGeneralEngineer %}<img width="60%" alt=""
                  src="{{safety.generalEngineerId.signImage.url}}" />
                {% else %}(인)
                {% endif %}
              </td>
              <td class="table-secondary">총괄건설사업<br>관리기술인</td>
              <td>
                {% if safety.totalEngineerId %}
                {{safety.totalEngineerId.name}}
                {% endif %}
              </td>
              <td>
                {% if safety.isSaveTotalEngineer %}<img width="60%" alt=""
                  src="{{safety.totalEngineerId.signImage.url}}" />
                {% else %}(인)
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <br><br><br><br><br>

</main>
{% endblock %}

{% block javascript %}

{% include 'util/pdfsave.html' with save_btn="save_btn" target_div="safety" file_name="구조 안전성 검토 신고 및 승인서" docNum=safety.docNum pdf_list=safety_url %}

{% endblock %}