<!-- Safety form page -->
{% extends 'base/head.html' %}
{% load static %}
{% block title %}
Safety Check
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  <a href="{% url 'work:safety' %}">구조 안전성 검토</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">구조 안전성 검토 신고서</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section id="safety" name='safety'>
      <form method="POST" id="form_safety">
        {% csrf_token %}
        <div class="container border p-4 mb-5 text-center">
          <div class="row m-1">
            <h1>
              구조 안전성 검토 신고서
            </h1>
          </div>
          <div class="row border">
            <div class="col-2 p-2">
              문서번호
            </div>
            <div class="col-4 p-2">
              구조 안전성 검토 신고서-{{safety.docNum}}
            </div>
            <div class="col-2 p-2">
              작성일자
            </div>
            <div class="col-4 p-2">
              {{safety.date}}
            </div>
          </div>
          <div class="row border">
            <div class="col-2 p-2">
              제목
            </div>
            <div class="col-10 p-2">
              {{safety.title}}
            </div>
          </div>
          <div class="row border">
            <div class="col-2 p-2">
              공종
            </div>
            <div class="col-10 p-2">
              {{safety.constructType}}
            </div>
          </div>
          <div class="row align-items-center border">
            <div class="col-2 p-2">
              내용
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col p-2">
                  {{safety.text}}
                </div>
              </div>
              <div class="row">
                <div class="col-7"></div>
                <div class="col">
                  <div class="row">
                    <div class="col-3 p-2">
                      담당자
                    </div>
                    <div class="col-3 p-2">
                      {{safety.writerId.name}}
                    </div>
                    <div class="col p-2">
                      {% if safety.writerId %}<img width="100%" alt="" src="{{safety.writerId.signImage.url}}" />
                      {% else %}(인)
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-7"></div>
                <div class="col">
                  <div class="row">
                    <div class="col-3 p-2">
                      현장대리인
                    </div>
                    <div class="col-3 p-2">
                      {% if safety.agentId %}
                      {{safety.agentId.name}}
                      {% endif %}
                    </div>
                    <div class="col p-2">
                      {% if safety.generalEngineerId %}<img width="100%" alt=""
                        src="{{safety.agentId.signImage.url}}" />
                      {% else %}(인)
                      {% endif %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row align-items-center border">
            <div class="col-2 p-2">
              붙임
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-3 p-2">
                  구조계산서
                </div>
                <div class="col p-2">
                  <ol class="list-group" id="구조계산서-ol">
                    {% for item in safety.docs.all %}
                    {% if '구조 계산서' in item.type %}
                    <li class="list-group-item"><a href="{{item.url}}"
                        download="{{item.filename}}">{{item.filename}}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ol>
                </div>
              </div>
              <div class="row">
                <div class="col-3 p-2">
                  시공상세도면
                </div>
                <div class="col p-2">
                  <ol class="list-group" id="시공상세도면-ol">
                    {% for item in safety.docs.all %}
                    {% if '시공상세도면' in item.type %}
                    <li class="list-group-item"><a href="{{item.url}}"
                        download="{{item.filename}}">{{item.filename}}</a></li>
                    {% endif %}
                    {% endfor %}
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <div class="row border">
            <div class="col-2 p-2">
              회신일자
            </div>
            <div class="col-10 p-2">
              <div class="col-4">
                {% if safety.replyDate %}
                {{safety.replyDate}}
                {% endif %}
              </div>
            </div>
          </div>
          <div class="row align-items-center border">
            <div class="col-2 p-2">
              검토의견
            </div>
            <div class="col-10">
              <div class="row">
                <div class="col-2 p-2">
                  담당자
                </div>
                <div class="col-10 p-2">
                  {% if safety.generalEngineerText %}
                  {{safety.generalEngineerText}}
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-2 p-2">
                  총괄관리자
                </div>
                <div class="col-10 p-2">
                  {% if safety.totalEngineerText %}
                  {{safety.totalEngineerText}}
                  {% endif %}
                </div>
              </div>
              <div class="row">
                <div class="col-2 text-wrap p-2">
                  구조안전성 검토<br>체크리스트
                </div>
                <div class="col-10 p-2">
                  작성요망
                </div>
              </div>
            </div>
          </div>
          <div class="row border">
            <div class="col-2 p-2">
              결과
            </div>
            <div class="col-10 p-2">
              {% if safety.result %}
              {{safety.result}}
              {% endif %}
            </div>
          </div>
          <div class="row border">
            <div class="col-2 p-2">
              담당건설사업<br>관리기술인
            </div>
            <div class="col-2 p-2">
              {% if safety.generalEngineerId %}
              {{safety.generalEngineerId.name}}
              {% endif %}
            </div>
            <div class="col-2 p-2">
              {% if safety.totalEngineerId %}<img width="100%" alt=""
                src="{{safety.generalEngineerId.signImage.url}}" />
              {% else %}(인)
              {% endif %}
            </div>
            <div class="col-2 p-2">
              총괄건설사업<br>관리기술인
            </div>
            <div class="col-2 p-2">
              {% if safety.totalEngineerId %}
              {{safety.totalEngineerId.name}}
              {% endif %}
            </div>
            <div class="col-2 p-2">
              {% if safety.isSuccess %}<img width="100%" alt="" src="{{safety.totalEngineerId.signImage.url}}" />
              {% else %}(인)
              {% endif %}
            </div>
          </div>
        </div>
      </form>
    </section>
  </div>
  <br><br><br><br><br>

</main>
{% endblock %}