{% extends 'base/head.html' %}
{% block title %}
자재 공급원 신고 및 승인서
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'work:index' %}">업무</a>
                </li>
                <li class="breadcrumb-item" aria-current="page">
                  <a href="{% url 'work:material' %}">자재 반입</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">자재 공급원 신고 및 승인서</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    {% include 'util/pdfbtn.html' %}
    <section id="material">
      <div class="container p-4 mb-5 text-center">
        <table class="table">
          <thead>
            <th class="p-4" colspan="6">
              <h1>자재 공급원 신고서</h1>
            </th>
          </thead>
          <tbody class="align-middle">
            <tr>
              <td class="table-secondary">문서번호</td>
              <td colspan="2">
                자재 공급원 신고 및 승인서-{{material.docNum}}
              </td>
              <td class="table-secondary">작성일자</td>
              <td colspan="2">
                {{material.date}}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">공사명</td>
              <td colspan="2">
                {{material.fieldId.title}}
              </td>
              <td class="table-secondary">자재명</td>
              <td colspan="2">
                가설기자재
              </td>
            </tr>
            <tr>
              <td class="table-secondary">
                제목
              </td>
              <td colspan="5">
                {{material.title}}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">공종</td>
              <td colspan="5">
                {{material.constructType}}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">공급원</td>
              <td colspan="5">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <td>공급 업체명</td>
                      <td>품명</td>
                      <td>규격</td>
                      <td>수량</td>
                      <td>비고</td>
                    </tr>
                  </thead>
                  <tbody id="supply_body">
                    {% for supply_origin in material.supply_list.all %}
                    <tr>
                      <td>{{supply_origin.name}}</td>
                      <td>{{supply_origin.goods}}</td>
                      <td>{{supply_origin.size}}</td>
                      <td>{{supply_origin.amount}}</td>
                      <td>{{supply_origin.etc}}</td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </td>
            </tr>
            <tr>
              <td class="table-secondary" rowspan="3">내용</td>
              <td colspan="5" class="p-4">
                상기 업체로부터 해당 자재를 공급받아 당해 공사에 사용하는 사항에 대한 자재공급원을 신고합니다.
              </td>
            </tr>
            <tr>
              <td rowspan="2" colspan="2"></td>
              <td>담당자</td>
              <td>
                {{material.writerId.name}}
              </td>
              <td>
                <img width="60%" alt="" src="{{material.writerId.signImage.url}}" />
              </td>
            </tr>
            <tr>
              <td>현장대리인</td>
              <td>
                {{material.agentId.name}}
              </td>
              <td>
                {% if material.isSaveAgent %}<img width="60%" alt="" src="{{material.agentId.signImage.url}}" />
                {% else %}(인)
                {% endif %}
              </td>
            </tr>
            <tr>
              <td rowspan="3" class="table-secondary">붙임</td>
              <td colspan="5">
                <table class="table">
                  <tr>
                    <th scope="row" style="width: 25%;" class="text-success align-middle">사업자등록증</th>
                    <td colspan="2" style="width: 75%;">
                      <ul class="list-group" id="businessLicenses_preview">
                        {% if material.material_docs %}
                        {% for item in material.material_docs.all %}
                        {% if item.type == 'businessLicenses' %}
                        <li class="list-group-item"><a href="{{item.file.url}}" class="link-primary"
                            target="_blank">{{item.filename}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-success align-middle">납품실적증명서</th>
                    <td colspan="2">
                      <ul class="list-group" id="deliveryPerformanceCertificate_preview">
                        {% if material.material_docs %}
                        {% for item in material.material_docs.all %}
                        {% if item.type == 'deliveryPerformanceCertificate' %}
                        <li class="list-group-item"><a href="{{item.file.url}}" class="link-primary"
                            target="_blank">{{item.filename}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-success align-middle">안전인증서</th>
                    <td colspan="2">
                      <ul class="list-group" id="safetyCertificate_preview">
                        {% if material.material_docs %}
                        {% for item in material.material_docs.all %}
                        {% if item.type == 'safetyCertificate' %}
                        <li class="list-group-item"><a href="{{item.file.url}}" class="link-primary"
                            target="_blank">{{item.filename}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-success align-middle">품질시험성적서</th>
                    <td colspan="2">
                      <ul class="list-group" id="qualityTestReport_preview">
                        {% if material.material_docs %}
                        {% for item in material.material_docs.all %}
                        {% if item.type == 'qualityTestReport' %}
                        <li class="list-group-item"><a href="{{item.file.url}}" class="link-primary"
                            target="_blank">{{item.filename}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row" class="text-success align-middle">시험성과대비표</th>
                    <td colspan="2">
                      <ul class="list-group" id="testPerformanceComparisonTable_preview">
                        {% if material.material_docs %}
                        {% for item in material.material_docs.all %}
                        {% if item.type == 'testPerformanceComparisonTable' %}
                        <li class="list-group-item"><a href="{{item.file.url}}" class="link-primary"
                            target="_blank">{{item.filename}}</a></li>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
                      </ul>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="5">기타사항</td>
            </tr>
            <tr>
              <td colspan="5" class="p-4">
                {{material.text}}
              </td>
            </tr>
          </tbody>
          <thead>
            <tr>
              <th class="p-4" colspan="6">
                <h1>자재 공급원 승인서</h1>
              </th>
            </tr>
          </thead>
          <tbody class="align-middle">
            <tr>
              <td class="table-secondary">회신일자</td>
              <td colspan="5">
                {{material.replyDate|default:""}}
              </td>
            </tr>
            <tr>
              <td rowspan="2" class="table-secondary">검토 의견</td>
              <td>담당자</td>
              <td colspan="4">
                {{material.generalEngineerText|default:""}}
              </td>
            </tr>
            <tr>
              <td>총괄관리자</td>
              <td colspan="4">
                {{material.totalEngineerText|default:""}}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">결과</td>
              <td colspan="5">
                {{material.get_result_display}}
              </td>
            </tr>
            <tr>
              <td class="table-secondary">담당건설사업<br>관리기술인</td>
              <td>
                {{material.generalEngineerId.name|default:""}}
              </td>
              <td>
                {% if material.isSaveGeneralEngineer %}<img width="60%" alt=""
                  src="{{material.generalEngineerId.signImage.url}}" />
                {% else %}(인)
                {% endif %}
              </td>
              <td class="table-secondary">총괄건설사업<br>관리기술인</td>
              <td>
                {{material.totalEngineerId.name}}
              </td>
              <td>
                {% if material.isSaveTotalEngineer %}<img width="60%" alt=""
                  src="{{material.totalEngineerId.signImage.url}}" />
                {% else %}(인)
                {% endif %}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </section>
  </div>
  <br><br><br><br><br>
</main>
{% endblock %}

{% block javascript %}

{% include 'util/pdfsave.html' with save_btn="save_btn" target_div="material" file_name="자재 공급원 문서" docNum=material.docNum pdf_list=material_url %}

{% endblock %}