{% extends 'base/head.html' %}
{% block title %}
시스템 관리자 정보 수정
{% endblock %}
{% block style %}
<style>
  @media screen and (min-width: 601px) {
    main {
      width: 50%;
      margin: 20px auto;
    }
  }

  @media screen and (max-width: 600px) {
    main {
      width: 100%;
    }
  }
</style>

{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    <section>
      <br>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">개인정보 수정</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <section>
        <form action="" method="POST">
          {% csrf_token %}
          <div class="container">
            <div class="row">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">이름</label>
              </div>
              <div class="col-md-8">
                {{form.name}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">소속</label>
              </div>
              <div class="col-md-5">
                {{form.class1.value}} > {{form.class2.value}} >
              </div>
              <div class="col-md-3">
                <div class="row">
                  <div class="col">
                    <select name="class3" class="col-12 text-center" maxlength="60" id="id_class3">
                      <option {% if form.class3.value == '시공 관리자' %} selected {% endif %} value="시공 관리자">시공 관리자</option>
                      <option {% if form.class3.value == '품질 관리자' %} selected {% endif %} value="품질 관리자">품질 관리자</option>
                      <option {% if form.class3.value == '안전 관리자' %} selected {% endif %} value="안전 관리자">안전 관리자</option>
                      <option value="해당 사항 없음">해당 사항 없음</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">회사</label>
              </div>
              <div class="col-md-8">
                {{form.company}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">아이디</label>
              </div>
              <div class="col-md-8">
                <input type="text" class="form-control text-center" name='username' value="{{form.instance.username}}"
                  readonly>
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">비밀번호</label>
              </div>
              <div class="col-md-8">
                {{form.password1}}
                {% if form.password1.errors %}
                <div class="alert alert-danger mt-1 m-0">
                  {% for errors in form.password1.errors %}
                  <strong>{{errors|striptags}}</strong><br>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">비밀번호 재확인</label>
              </div>
              <div class="col-md-8">
                {{form.password2}}
                {% if form.password2.errors %}
                <div class="alert alert-danger mt-1">
                  {% for errors in form.password2.errors %}
                  <strong>{{errors|striptags}}</strong><br>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">전화번호</label>
              </div>
              <div class="col-md-8">
                {{form.phone}}
              </div>
            </div>
            <div class="row mt-3">
              <div class="col-md-2 offset-1">
                <label for="" class="col-12">서명</label>
              </div>
              <div class="col-md-8" style="border: 1px solid black; height: 200px;">
                <div class="row mt-3">
                  <div class="col-md-2 offset-10">
                    <button class="btnx" type="button" aria-label="Left Align" data-bs-toggle="modal"
                      data-bs-target="#exampleModal">서명 등록</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                      aria-hidden="true">
                      <div class="modal-dialog modal-dialog-centered modal-sm">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 style="margin: 0 auto;" class="modal-title fw-bold" id="exampleModalLabel">서명 등록</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                          </div>
                          <div class="modal-body">
                            <div class="container-fluid text-center">
                              <div style="border: 1px solid black; height: 120px;">
                                <canvas id="sig-canvas">
                                  Get a better browser, bro.
                                </canvas>
                              </div>
                              <label for="" class="">서명을 그려주세요</label>
                            </div>
                          </div>
                          <div class="modal-footer" style="margin: 0 auto;">
                            <button type="button" class="btn btn-primary" id="sig-submitBtn"
                              data-bs-target="#exampleModalToggle4" data-bs-toggle="modal">등록</button>
                            <button class="btn btn-secondary" id="sig-clearBtn" type="button">삭제</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row mt-3 mb-1 mx-1">
                  <textarea id="sig-dataUrl" class="form-control" rows="5"
                    hidden="hidden">Data URL for your signature will go here!</textarea>
                  <div class="col-md-12 text-center " style="border: 1px solid black; height: 120px;">
                    <img id="sig-image" src="" />
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-1">
              <div class="offset-3 col-md-8">
                <div class="d-none">
                  <input type="text" name="signImage" id="id_signImage">
                </div>
                {% if form.image.errors %}
                <div class="alert alert-danger mt-1">
                  {% for errors in form.image.errors %}
                  <strong>{{errors|striptags}}</strong><br>
                  {% endfor %}
                </div>
                {% endif %}
              </div>
            </div>
            <br>
            <div class="row mt-3">
              <div class="col-md-10 offset-2 text-center">
                <a href="{% url 'user:login' %}">
                  <button type="submit" class="btn btn-primary">수정 완료</button>
                </a>
              </div>
            </div>
          </div>
        </form>
      </section>
    </form>
    <br>
  </div>
</main>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
  $(document).ready(function () {
    window.requestAnimFrame = (function (callback) {
      return window.requestAnimationFrame || window.webkitRequestAnimationFrame || window
        .mozRequestAnimationFrame || window.oRequestAnimationFrame || window.msRequestAnimaitonFrame ||
        function (callback) {
          window.setTimeout(callback, 1000 / 60);
        };
    })();

    var canvas = document.getElementById("sig-canvas");
    canvas.width = 212;
    canvas.height = 120;

    var ctx = canvas.getContext("2d");

    ctx.strokeStyle = "#222222";
    ctx.lineWidth = 4;
    var image = new Image();

    image.src = "https://i.imgur.com/e66zPVj.png"
    image.crossOrigin = 'Anonymous';
    image.onload = function () {
      ctx.drawImage(image, 0, 0, 212, 120);
    };

    var drawing = false;
    var mousePos = {
      x: 0,
      y: 0
    };
    var lastPos = mousePos;

    canvas.addEventListener("mousedown", function (e) {
      drawing = true;
      lastPos = getMousePos(canvas, e);
    }, false);

    canvas.addEventListener("mouseup", function (e) {
      drawing = false;
    }, false);

    canvas.addEventListener("mousemove", function (e) {
      mousePos = getMousePos(canvas, e);
    }, false);

    // Add touch event support for mobile
    canvas.addEventListener("touchstart", function (e) {}, false);

    canvas.addEventListener("touchmove", function (e) {
      var touch = e.touches[0];
      var me = new MouseEvent("mousemove", {
        clientX: touch.clientX,
        clientY: touch.clientY
      });
      canvas.dispatchEvent(me);
    }, false);

    canvas.addEventListener("touchstart", function (e) {
      mousePos = getTouchPos(canvas, e);
      var touch = e.touches[0];
      var me = new MouseEvent("mousedown", {
        clientX: touch.clientX,
        clientY: touch.clientY
      });
      canvas.dispatchEvent(me);
    }, false);

    canvas.addEventListener("touchend", function (e) {
      var me = new MouseEvent("mouseup", {});
      canvas.dispatchEvent(me);
    }, false);

    function getMousePos(canvasDom, mouseEvent) {
      var rect = canvasDom.getBoundingClientRect();
      return {
        x: mouseEvent.clientX - rect.left,
        y: mouseEvent.clientY - rect.top
      }
    }

    function getTouchPos(canvasDom, touchEvent) {
      var rect = canvasDom.getBoundingClientRect();
      return {
        x: touchEvent
          .touches[0]
          .clientX - rect.left,
        y: touchEvent
          .touches[0]
          .clientY - rect.top
      }
    }

    function renderCanvas() {
      if (drawing) {
        ctx.moveTo(lastPos.x, lastPos.y);
        ctx.lineTo(mousePos.x, mousePos.y);
        ctx.stroke();
        lastPos = mousePos;
      }
    }

    // Prevent scrolling when touching the canvas
    document
      .body
      .addEventListener("touchstart", function (e) {
        if (e.target == canvas) {
          e.preventDefault();
        }
      }, false);
    document
      .body
      .addEventListener("touchend", function (e) {
        if (e.target == canvas) {
          e.preventDefault();
        }
      }, false);
    document
      .body
      .addEventListener("touchmove", function (e) {
        if (e.target == canvas) {
          e.preventDefault();
        }
      }, false);

    (function drawLoop() {
      requestAnimFrame(drawLoop);
      renderCanvas();
    })();

    function clearCanvas() {
      canvas.width = canvas.width;
      ctx.drawImage(image, 0, 0, 212, 120);
    }

  $('#id_class3 option').not(":selected").attr("disabled", "disabled");

    // Set up the UI
    var sigText = document.getElementById("sig-dataUrl");
    var sigImage = document.getElementById("sig-image");
    var clearBtn = document.getElementById("sig-clearBtn");
    var submitBtn = document.getElementById("sig-submitBtn");
    clearBtn.addEventListener("click", function (e) {
      clearCanvas();
      sigText.innerHTML = "Data URL for your signature will go here!";
      sigImage.setAttribute("src", "");

      var image = document.getElementById('id_signImage');

      image.value = '';
    }, false);
    submitBtn.addEventListener("click", function (e) {
      var dataUrl = canvas.toDataURL('image/png');
      sigText.innerHTML = dataUrl;
      sigImage.setAttribute("src", dataUrl);

      var image = document.getElementById('id_signImage');

      image.value = dataUrl;
    }, false);
  })

  // 전화번호 입력방식
  function autoHypenTel(str) {
    str = str.replace(/[^0-9]/g, '');
    var tmp = '';

    if (str.substring(0, 2) == 02) {
      // 서울 전화번호일 경우 10자리까지만 나타나고 그 이상의 자리수는 자동삭제
      if (str.length < 3) {
        return str;
      } else if (str.length < 6) {
        tmp += str.substr(0, 2);
        tmp += '-';
        tmp += str.substr(2);
        return tmp;
      } else if (str.length < 10) {
        tmp += str.substr(0, 2);
        tmp += '-';
        tmp += str.substr(2, 3);
        tmp += '-';
        tmp += str.substr(5);
        return tmp;
      } else {
        tmp += str.substr(0, 2);
        tmp += '-';
        tmp += str.substr(2, 4);
        tmp += '-';
        tmp += str.substr(6, 4);
        return tmp;
      }
    } else {
      // 핸드폰 및 다른 지역 전화번호 일 경우
      if (str.length < 4) {
        return str;
      } else if (str.length < 7) {
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3);
        return tmp;
      } else if (str.length < 11) {
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3, 3);
        tmp += '-';
        tmp += str.substr(6);
        return tmp;
      } else {
        tmp += str.substr(0, 3);
        tmp += '-';
        tmp += str.substr(3, 4);
        tmp += '-';
        tmp += str.substr(7);
        return tmp;
      }
    }

    return str;
  };

  $('#id_phone').keyup(function (event) {
    event = event || window.event;
    var _val = this.value.trim();
    this.value = autoHypenTel(_val);
  });
</script>
{% endblock %}