<!-- Work Button page -->
{% extends 'base/head.html' %}
{% block title %}
Work
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}
<main>
  <div class="cont mt-4">
    {% include 'base/navbar_main.html' %}
    <section>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">업무
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <br><br><br><br>
    <section>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-3">
            <a href="{% url 'work:safety' %}">
              <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">구조 안전성 검토
                {% if workCount != 0 %}
                <span class="badge bg-success">{{workCount}}</span>
                {% endif %}
              </button>
            </a>
          </div>
          <div class="col-3">
            <a href="{% url 'work:material' %}">
              <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">자재 반입
                {% if materialCount != 0 %}
                <span class="badge bg-success">{{materialCount}}</span>
                {% endif %}
              </button>
            </a>
          </div>
          <div class="col-3">
            <a href="{% url 'work:quality_menu' %}">
              <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">품질검사
                {% if qtyCount != 0 %}
                <span class="badge bg-success">{{qtyCount}}</span>
                {% endif %}
              </button>
            </a>
          </div>
          {% if request.user.class2 == '일반 관리자' %}
          <div class="col-3">
            <a href="{% url 'work:install_check' %}">
              <button class="col-12 btn1 p-2 pt-4 pb-4 btn btn-light">설치작업 확인</button>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
    </section>
    <br><br><br><br><br><br><br><br>
  </div>
</main>
{% endblock %}