<!-- Safety form page -->
{% extends 'base/head.html' %}
{% load static %}
{% block title %}
비밀번호 재설정
{% endblock %}
{% block style %}
<style>
  main {
    width: 70%;
    min-width: 1200px;
    margin: 20px auto;
  }
</style>
{% endblock %}

{% block content %}
{% include 'base/header.html' %}

<main>
  <div class="cont mt-4">
    <section>
      <br>
      <div class="container">
        <div class="row ml-0">
          <div class="col">
            <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">아이디 / 비밀번호 찾기</a>
                </li>
                <li class="breadcrumb-item">비밀번호 재설정</a>
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="container">
        <div class="row">
          <h1>비밀번호 재설정</h1>
        </div>
        <div class="row justify-content-center">
          <div class="col-lg-2">
            <label for="" class="col-12 text-center">아이디</label>
          </div>
          <div class="col-lg-6">
            <input type="text" class="col-12 text-center" id="id" placeholder="아이디를 입력해 주세요.">
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-lg-2">
            <label for="" class="col-12 text-center">성명</label>
          </div>
          <div class="col-lg-6">
            <input type="text" class="col-12 text-center" id="name" placeholder="성명을 입력해 주세요.">
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-lg-2">
            <label for="" class="col-12 text-center">전화번호</label>
          </div>
          <div class="col-lg-6">
            <input type="text" class="col-12 text-center" id="call" placeholder="전화번호를 입력해 주세요. ex) 010-1234-1234">
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-lg-2">
            <label for="" class="col-12 text-center">승인번호</label>
          </div>
          <div class="col-lg-4">
            <input type="text" class="col-12 text-center" id="code" placeholder="인증번호를 입력해 주세요.">
          </div>
          <div class="col-lg-2">
            <button class="btn btn-primary" onclick="require_code()">인증코드 받기</button>
          </div>
        </div>
        <div class="row mt-3 justify-content-center">
          <div class="col-6 text-center">
            <button class="btn btn-primary" onclick="reset_require()">비밀번호 재설정</button>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
{% endblock %}

{% block javascript %}
<script>
  const require_code = () => {
    const id = document.getElementById('id').value;
    const name = document.getElementById('name').value;
    const call = document.getElementById('call').value;
    const url = "{% url 'user:require_code' %}";
    const data = {
      id: id,
      name: name,
      call: call
    };
    $.ajax({
      url: url,
      type: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      data: data,
      success: function (data) {
        if (data.result === 'success') {
          Swal.fire({
            title: '인증번호 전송',
            text: '인증번호가 전송되었습니다.',
            icon: 'success',
            confirmButtonText: '확인'
          });
        } else {
          Swal.fire({
            title: '인증번호 전송 실패',
            text: '정보를 정확히 입력해주세요.',
            icon: 'error',
            confirmButtonText: '확인'
          });
        }
      },
      error: function (data) {
        Swal.fire({
          title: '인증번호 전송',
          text: '인증번호 전송에 실패하였습니다.',
          icon: 'error',
          confirmButtonText: '확인'
        });
      }
    });
  };

  const reset_require = () => {
    const id = document.getElementById('id').value;
    const name = document.getElementById('name').value;
    const call = document.getElementById('call').value;
    const code = document.getElementById('code').value;
    const url = "{% url 'user:reset_pwd' %}";
    const data = {
      id: id,
      name: name,
      call: call,
      code: code
    };
    $.ajax({
      url: url,
      type: 'POST',
      headers: {
        'X-CSRFToken': '{{ csrf_token }}'
      },
      data: data,
      success: function (data) {
        if (data.result === 'deny') {
          Swal.fire({
            title: '비밀번호 재설정 실패',
            text: '정보를 정확히 입력해주세요.',
            icon: 'error',
            confirmButtonText: '확인'
          });
        }
      },
      error: function (data) {
        Swal.fire({
          title: '비밀번호 재설정 실패',
          text: '비밀번호 재설정에 실패하였습니다.',
          icon: 'error',
          confirmButtonText: '확인'
        });
      }
    });
  }
</script>
{% endblock %}