<script type="text/javascript">
  {% for checkmenu in checklist %}
  // 이미지 업로드
  $('.input-images-{{checkmenu.before_inspection_item_id.pk}}').imageUploader({
    label: '여기를 클릭해 이미지를 추가하세요.',
    preloaded: [
      {% for image in checkmenu.measures.all %} {
        src: '{{image.img.url}}',
        alt: '{{image.img.name}}',
      },
      {% endfor %}
    ],
    imagesInputName: '{{checkmenu.before_inspection_item_id.pk}}-images',
    preloadedInputName: '{{checkmenu.before_inspection_item_id.pk}}-images',
  });
  {% endfor %}
</script>